<form action="/workouts/new" method="post">
  <label for="workout_name">Workout Name: </label>  
  <input id="workout_name" name="workout_name" type="text" required/>
  <label for="workout_date">Workout Date: </label>  
  <input id="workout_date" name="workout_date" type="date" required/>
  <input type="Submit" value="Create Workout" />
</form>